.bg-kpi-up {
  background-color: #C9E799;
}

.text-kpi-up {
  color: #355500;
}

.bg-kpi-neutral {
  background-color: #F5F5F5;
}

.text-kpi-neutral {
  color: #333333;
}

.bg-kpi-down {
  background-color: #FFCCC4;
}

.text-kpi-down {
  color: #6D0C00;
}